<!DOCTYPE html>

<html>
 <head>
   <link rel="stylesheet" href="/css/styles.css">
   <link rel="icon" href="images/weather.png">
   <script src="/js/app.js"></script>
 </head>
   <body>
     <div class="main-content">
       {{>header}}
       <p>
         This Website was created by Alex Mireles.  Data provided from mapbox.com and darksky.net.

       </p>
       <a href="https://mirelescloud.com" >MirelesCloud</a>
       <div>
         <img class="portrait" src="images/SmallerBaller.jpg" >

       </div>
       <p>Provided by: {{ name }}</p>
     </div>
    {{>footer}}
   </body>
</html>
